/*              DOCUMENT SETTINGS              */
:root {
  /* ###### COLOR VARIABLES #######*/
  --navbar-bg: rgb(54, 190, 231);
  --primary-text-color: #ffffff;
  --navbar-border: transparent;
  --secondary-text-color: rgb(233, 88, 127);

  /* ###### FONT SZIE VARIABLES #######*/
  --default-font-size: 1.6rem;
  --heading-primary: 7rem;
  --heading-primary--big: 3rem;
  --heading-primary--medium: 5rem;
  --heading-secondary--medium: 2.5rem;
  --navbar-font-size: 2rem;

  /* GRADIENTS */
  --footer-bg: #111;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

/* NAVBAR */
.navbar-bg-cl {
  background: var(--navbar-bg) !important;
  border-bottom: 1px solid rgba(220, 220, 220, 0.158);
}
.navbar__items__item {
  padding: 0 1.2rem 0 1.2rem;
}

.nav-link.navbar__items__item__link {
  color: var(--primary-text-color) !important;
  text-transform: uppercase;
  border-bottom: 0.2rem solid transparent;
}
.nav-link:hover {
  color: var(--secondary-text-color) !important;
  border-color: var(--secondary-text-color) !important;
}

/* BRAND */
#branding {
  height: 3rem;
  width: 3rem;
  border: 0 !important;
  padding: 0 !important;
}
#branding-img {
  transition: all 0.4s ease-out 0s;
  border-radius: 50%;
}
#branding-img:hover {
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.9s ease-out 0s;
  background: var(--secondary-text-color);
  cursor: pointer;
}
#brand-preview {
  padding: 0.5rem;
  color: white !important;
}
#brand-preview:hover {
  color: var(--secondary-text-color) !important;
}
/**
  CONTENT
*/

.landing {
  border: 1px solid rend;
  height: 90vh;
  position: relative;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
  overflow: hidden;
}
video {
  height: inherit;
  width: 100vw;
  object-fit: cover;
  object-position: center;
}

.section-festival-preview__information__social-links__link__img {
  height: 4rem;
  width: auto;
  padding: 0.5rem;
}

/** Heading */
.heading-1 {
  font-size: var(--heading-primary--big);
  color: var(--primary-text-color);
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.heading-2 {
  color: var(--secondary-text-color);
  font-size: var(--heading-secondary--medium);
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.footer {
  background: var(--footer-bg);
  color: var(--primary-text-color);
}

.footer__nav-link {
  color: var(--primary-text-color);
}
.footer__nav-link:hover {
  color: var(--primary-text-color);
}
.divider {
  background: #ffffff;
}

.content-view {
  min-height: 100vh;
  background-color: #eee;
}

.submit-btn {
  width: 100%;
}

.content-view__content {
  background: white;
  border: 1px solid gainsboro;
  border-radius: 1.5rem 1.5rem;
}
.right-side {
  border: 1px solid gainsboro;
  border-radius: 2rem 2rem;
  background: white;
}

.form-heading {
  color: var(--secondary-text-color);
  border-bottom: 2px solid var(--secondary-text-color);
}

.content-heading {
  color: var(--secondary-text-color);
  font-size: 4rem;
}

.lineup-table > tbody {
  border: 1px solid gainsboro;
}

.lineup-table > tbody > tr:nth-of-type(even) {
  background: rgb(243, 243, 243);
}

.all-exp-container {
  border: 1px solid gainsboro;
  border-radius: 1rem 1rem;
}
.exp-comma {
  font-size: 3rem;
}
.exp-container {
  padding: 3rem;
  border-bottom: 1px solid gainsboro;
}

.image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-origin: border-box;
}
.image-container {
  overflow: hidden;
  height: 200px;
  border-radius: 1rem 1rem;
}

@media screen and (max-width: 720px) {
  .content-heading {
    font-size: 3rem;
  }
  .content-view {
    margin: 0 !important;
    padding: 0 !important;
  }

  .content-view > .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .content-view__content {
    margin: 0 !important;

    border-radius: 0;
  }
  .right-side {
    border-radius: 0;
    padding-bottom: 5rem !important;
  }
  .row > div {
    padding: 0;
  }
  .table-responsive {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .all-exp-container {
    border: 0;
  }

  .exp-container {
    margin-top: 1rem;
    border: 1px solid gainsboro !important;
    border-radius: 1rem 1rem;
  }
}

.gear {
  animation-name: ckw;
  animation-duration: 0.5s;
  /* Things added */
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  display: inline-block;
  /* <--- */
}
@keyframes ckw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
